    <header id="header">
        <div class="innercontainer">
            <div class="logo">
            <a href="">
                <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch.png?v=1637213761"
                    alt="logo">
            </a>
            </div>
            <nav class="navigation-menu">
                <ul class="main-navigation">
                    <li><a href="#healing">PRODUCTS</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#technology">TECHNOLOGY</a></li>
                    <li><a href="#support">SUPPORT</a></li>
                    <li><a href="#testimonial">REVIEWS</a></li>
                </ul>
            </nav>
            <label class="hamburger-icon" aria-label="Open navigation menu" for="menu-toggle1">&#9776;</label>
            <a class="shopnowbtn" id="myBtn">
                <p>GET FREE PATCH</p>
            </a>
        </div>
        <div class="responsive-menu">
            <input type="checkbox" id="menu-toggle1">
            <div class="nav-menu">
                <a href="#healing" class="nav-menu-links">PRODUCT</a>
                <a href="#" class="nav-menu-links">SHOP</a>
                <a href="#technology" class="nav-menu-links">TECHNOLOGY</a>
                <a href="#support" class="nav-menu-links">SUPPORT</a>
                <a href="#testimonial" class="nav-menu-links">REVIEWS</a>
                <a href="#" class="shopnowbtn1 nav-menu-links" id="myBtn2">
                    <p>GET FREE PATCH</p>
                </a>
            </div>
        </div>

    </header>