html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  background-image: url(/assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  position: relative;
  max-width: 1640px;
  padding: 60px 20px;
  margin: 0 auto;
}

.hero__container .absolute {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__txt {
  font-family: 'MetroBold',sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 2.5rem;
}

.hero__txtsub {
  font-family: 'MetroBold',sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 2rem;
}

.hero__parag {
  width: 35%;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
}

.hero__imgcontainer {
  padding: 2.5rem 2rem;
}

.hero__imgcontainer .crcl {
  padding: 0 6rem;
}

.hero__imgsubtxt {
  font-family: 'MetroBold',sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .hero__container .absolute {
    top: 15%;
  }
  .hero__txt {
    padding-top: 10rem;
  }
  .hero__parag {
    width: unset;
  }
  .hero__imgcontainer {
    padding: 0.5rem;
  }
  .hero__imgcontainer .crcl {
    padding: 0 3rem;
  }
  .hero__imgsubtxt {
    font-size: 1.5rem;
  }
}

.scienceandtech__container {
  width: 100%;
  margin: 0 auto;
}

.scienceandtech__container--left {
  width: 60%;
}

.scienceandtech__container--left img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.scienceandtech__container--right {
  width: 40%;
  padding-top: 10rem;
}

.scienceandtech__container--right .title {
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 3rem;
  line-height: 1.5;
}

.scienceandtech__container--right .subtitle {
  font-family: 'MetroThin',sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
  padding-right: 14.5rem;
}

@media screen and (max-width: 768px) {
  .scienceandtech__container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding-top: 3rem;
  }
  .scienceandtech__container--left {
    width: 100%;
  }
  .scienceandtech__container--right {
    padding-top: unset;
    width: 100%;
  }
  .scienceandtech__container--right .title {
    text-align: center;
  }
  .scienceandtech__container--right .subtitle {
    padding: 0 20px;
  }
}

.healing--title {
  text-align: center;
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 5rem 0 10rem;
}

.healing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.healing--imgcontainer {
  width: 32%;
  background-color: rgba(175, 181, 220, 0.15);
  margin-bottom: 2rem;
}

.healing--imgcontainer img {
  width: 100%;
}

.healing--imgcontainer img:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.healing--text {
  text-align: center;
  text-align: center;
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  .healing--imgcontainer {
    width: 48%;
  }
}

.technology__container--left {
  background-color: #EEF7FF;
  width: 50%;
  padding: 10rem 0;
}

.technology__container--left .title {
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 0 0 2rem 10rem;
}

.technology__container--left .subtitle {
  font-family: 'MetroBold',sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 0 2rem 10rem;
}

.technology__container--left p {
  padding: 0 10rem 5rem;
  line-height: 1.5;
  font-family: 'Metrothin';
  font-size: 1.5rem;
}

.technology__container--right {
  width: 50%;
}

.technology__container--right img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .technology__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .technology__container--left {
    width: 100%;
  }
  .technology__container--left .title {
    text-align: center;
    padding: unset;
  }
  .technology__container--left .subtitle {
    text-align: center;
    padding: unset;
  }
  .technology__container--left p {
    padding: 2rem 0 2rem 2rem;
  }
  .technology__container--right {
    width: 100%;
  }
}

.support--title {
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  padding: 6rem 0;
}

.support__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support__container--left {
  width: 50%;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__container--left img {
  width: 100%;
}

.support__container--right {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__container--right img {
  width: 100%;
}

.support__container .imgsubtext {
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 3rem 0 5rem;
}

@media screen and (max-width: 768px) {
  .support__container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .support__container--left {
    width: 100%;
  }
  .support__container--right {
    width: 100%;
  }
  .support__container .imgsubtext {
    text-align: center;
  }
}

.faq {
  background-color: #eee;
  padding-bottom: 8rem;
}

.faq--title {
  text-align: center;
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 5rem;
  padding: 5rem 0 3rem;
}

.faq__container {
  max-width: 1000px;
  margin: 0 auto;
}

.faq__container .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
}

.faq__container .accordion::before {
  content: '';
  background-image: url(/assets/img/Addition-01.svg);
  float: left;
  padding-right: 15px;
  height: 43px;
  width: 43px;
  background-repeat: no-repeat;
}

.faq__container .active::before {
  content: "";
  background-image: url(/assets/img/Substraction.svg);
  height: 43px;
  width: 43px;
  background-repeat: no-repeat;
}

.faq__container .panel {
  padding: 0 5rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq__container .panel p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.faq--subtitle {
  text-align: center;
  font-family: 'MetroBold',sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 5rem 0 3rem;
}

.faq--footer {
  text-align: center;
  font-size: 1.25rem;
}

.testimonial {
  background-color: rgba(73, 81, 216, 0.21);
  padding-bottom: 10rem;
}

.testimonial--title {
  text-align: center;
  font-family: 'MetroBold',sans-serif;
  font-size: 3rem;
  font-weight: 900;
  padding: 10rem 0 3rem;
}

.testimonial--happystarcustomer {
  text-align: center;
  padding-bottom: 5rem;
}

.testimonial--happystarcustomer h4 {
  padding-top: 2rem;
  font-family: 'MetroBold',sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.testimonial--happystarcustomer .stars {
  width: 453px;
  margin: 0 auto;
}

.testimonial__container {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}

.testimonial__container--item {
  background-color: #fff;
  width: 449px;
  padding: 2rem;
  border-radius: 15px;
  margin: 0 0.5rem;
}

.testimonial__container--item .stars {
  width: 313px;
  padding-top: 1.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .testimonial__container--item .stars {
    width: 100%;
  }
}

.testimonial__container--item .message {
  line-height: 1.5;
  padding: 3rem;
}

.testimonial__container--item .name {
  padding: 0 3rem;
}

@font-face {
  font-family: "MetroThin";
  src: url(/fonts/Metropolis-Regular.otf) format("otf");
}

@font-face {
  font-family: "MetroBold";
  src: url(/fonts/Metropolis-Black.otf) format("otf");
  font-weight: 700;
}

@font-face {
  font-family: "MetroSemiB";
  src: url(./fonts/Metropolis-SemiBold.otf);
  font-weight: 600;
}

body {
  font-family: 'MetroThin',sans-serif;
  color: #083D5D;
  overflow-x: hidden;
}

section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: #083D5D;
}

p, h1, h2, h3, h4, h5, h6, button {
  color: #083D5D;
}
/*# sourceMappingURL=style.css.map */