
 
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="content-wrapper">
                <div class="left">
                    <h2 class="left--title">Life is Full of Tough Choices</h2>
                    <div class="left-modal-image">
                        <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/1508658012170.png?v=1638404626"
                        alt="">
                    </div>
                    <h2 class="left--subtitle">This isn't one of those!</h2>
                    <div class="imgcontainer">
                        <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_Combo_Purple.png?v=1638419732"
                            width="100%" height="auto" alt="">
                    </div>
                </div>
                <div class="right">
                    <h2 class="right--title">Get Your Free Patch Today!</h2>
                    <p>
                        We are so confident our patch will work for you, we're willing to give you your first week on
                        us! Simply provide us the following information and we will send them directly to you to try.
                    </p>
                    <form action="" class="form-column">
                        <input type="text" name="name" id="name" placeholder="Name:" class="form-input">
                        <input type="text" name="address" id="address" placeholder="Address:" class="form-input">
                        <input type="email" name="email" id="email" placeholder="Email:" class="form-input">
                        <select name="selectpatch" id="selectpatch" class="form-input">
                            <option value="">Select Patch</option>
                        </select>
                        <div class="theno">
                            <h3 class="obligation">No Obligation</h3>
                            <h3 class="risk">No Risk</h3>
                            <h3 class="brainer">No Brainer</h3>
                        </div>
                        <input type="submit" value="GET MY FREE PATCH" class="modal-submitbtn">
                    </form>
                </div>
            </div>
        </div>
    </div>
       <section class="hero">
            <div class="hero__container ">
                {{ 'absolute.png' | asset_url | img_tag: 'The Soap Store', 'absolute'}}
                    <h2 class="hero__txt"  data-aos="fade-up" data-aos-offset="50" data-aos-delay="50" data-aos-duration="1000">
                        Welcome to the Future!
                    </h2>
                    <h3 class="hero__txtsub"  data-aos="fade-up"  data-aos-offset="20" data-aos-delay="100" data-aos-duration="2000">
                        HEALING AND SUPPORT PATCHES
                    </h3>
                    <p class="hero__parag"  data-aos="fade-up"    data-aos-offset="50" data-aos-delay="20" data-aos-duration="2500">
                        Programmed with specific energetic information and frequencies, utilizing the latest technology for a safe, non-drug, non-chemical, and natural approach.
                    </p>
                    <div class="hero__imgcontainer flex">
                        <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/All_Natural-01.png?v=1637108537" alt="all natural" data-aos="fade-down" data-aos-duration="1000">
                        <img class="crcl" src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/no_drugs.png?v=1637108537" alt="no drugs" data-aos="fade-down" data-aos-duration="1500">
                        <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/No_Chemicals-01.png?v=1637108537" alt="no chemicals" data-aos="fade-down" data-aos-duration="2000">
                    </div>
                    <h3 class="hero__imgsubtxt" data-aos="zoom-in"    data-aos-offset="50" data-aos-delay="20" data-aos-duration="2000">
                        CLEAN HEALING <br class="mobilebr"/> • <br class="mobilebr"/> CLEAN SUPPORT
                    </h3>
            </div>
        </section>
        <section class="scienceandtech" id="scienceandtech">
            <div class="scienceandtech__container flex">
                <div class="scienceandtech__container--left" data-aos="fade-right" >
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/secondsection.png?v=1637108538" alt="">
                </div>
                <div class="scienceandtech__container--right flexcol" data-aos="fade-left">
                    <h2 class="title">
                        Science and Technology Working with Harmony
                    </h2>
                    <p class="subtitle">
                        A natural process to use the body's own electronic field to attract programmed patches with specific energetic information and frequencies that the body can detect and respond to at the molecular level.
                    </p>
                </div>
            </div>
        </section>
        <section class="healing" id="healing">
            <h2 class="healing--title" data-aos="fade-up">
                Our Healing & Support Patches
            </h2>
            <div class="healing__container">
                <div class="healing--imgcontainer flexcol" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Box_Mockups_OK_1_copy.png?v=1638326250" alt="tinnitus">
                    <h3 class="healing--text">
                        Tinnitus Relief Patch 
                    </h3>
                </div>
                <div class="healing--imgcontainer flexcol" data-aos="fade-in" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_Anxiety_Relief_Patch.png?v=1638315310" alt="tinnitus">
                    <h3 class="healing--text">
                        Anxiety Relief Patch
                    </h3>
                </div>
                <div class="healing--imgcontainer flexcol" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_Sleep_Patch.png?v=1638315310" alt="tinnitus">
                    <h3 class="healing--text">
                        Sleep Patch
                    </h3>
                </div>
                <div class="healing--imgcontainer flexcol " data-aos="fade-in" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_MigraineHeadache_Patch.png?v=1638315310" alt="tinnitus">
                    <h3 class="healing--text">
                        Migraine/ Headache Patch
                    </h3>
                </div>
                <div class="healing--imgcontainer flexcol" data-aos="fade-in" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_FocusConcentration_Patch.png?v=1638315310" alt="tinnitus">
                    <h3 class="healing--text">
                        Focus/ Concentration Patch
                    </h3>
                </div>
                <div class="healing--imgcontainer flexcol" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0555/5145/9468/files/Restore_Patch_Energy_Patch.png?v=1638315310" alt="tinnitus">
                    <h3 class="healing--text">
                        Energy Patch
                    </h3>
                </div>
            </div>
        </section>
        <section class="technology" id="technology">
            <div class="technology__container flex">
                <div class="technology__container--left" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <h2 class="title">
                        TECHNOLOGY
                    </h2>
                    <h3 class="subtitle">
                        It's Actually Pretty Simple
                    </h3>
                    <p>
                        Our team of scientists and engineers took basic
                        physics and biology principles that were discovered in
                        the 1920's by folks like Albert Einstein and even Nikola
                        Tesla, and used today's technology and equipment to
                        develop Restore Patches.
                    </p>
                </div>
                <div class="technology__container--right" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/bg1.png?v=1637108537" alt="">
                </div>
            </div>
            <div class="technology__container flex reverse">
                <div class="technology__container--left" data-aos="fade-left" data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <h2 class="title">
                        Patches Are Programmed
                    </h2>
                    <p>
                        Like a compact disc or record, Restore Patches are
                        programmed with information. Science tells us that
                        this information, or energy, can be converted into
                        matter and back again. Since every living thing has
                        specific, unique electrical fields and frequencies, we
                        can program each patch for the specific healing or
                        support desired. No drugs. No chemicals. Just a
                        natural approach to the body working in harmony.    
                    </p>
                </div>
                <div class="technology__container--right" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/bg2.png?v=1637108537" alt="">
                </div>
            </div>
            <div class="technology__container flex">
                <div class="technology__container--left" data-aos="fade-right" data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <h2 class="title">
                        You're Electric...
                    </h2>
                    <p>
                        No, you really are! All living beings have
                        electricity running through them that is
                        organized and with specific direction. Our own
                        bodies not only act as the battery to charge the
                        patch and gain information, but can decipher
                        and adjust to the unique programmed
                        information off each patch. We see the same
                        exchange in energy with light in our eyes, sound
                        energy in our ears, and vibrations of odor
                        molecules in our nose to smell.
                    </p>
                </div>
                <div class="technology__container--right" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/bg3.png?v=1637108537" alt="">
                </div>
            </div>
            <div class="technology__container flex reverse">
                <div class="technology__container--left" data-aos="fade-left" data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <h2 class="title">
                        Harmony and Balance

                    </h2>
                    <p>
                        A body in balance and harmony is a beautiful thing. We
                        all know too well our bodies are very receptive to
                        negative environmental toxins in many forms. But it is
                        also receptive to positive ones too. By using Restore
                        Patches, the body can take this information to help heal
                        and support what is needed and provide a healthier,
                        harmonious, and balanced body.
                    </p>
                </div>
                <div class="technology__container--right" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/bg4.png?v=1637108537" alt="">
                </div>
            </div>
        </section>
        <section class="support" id="support">
            <div class="support--title">
                SUPPORT
            </div>
            <div class="support__container flex">
                <div class="support__container--left flexcol" data-aos="fade-right" data-aos-offset="300">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/Group_803.png?v=1637108537" alt="patch green">
                    <h3 class="imgsubtext">
                        How to Apply Restore Patch
                    </h3>
                </div>
                <div class="support__container--right flexcol" data-aos="fade-left" data-aos-offset="300">
                    <img src="https://cdn.shopify.com/s/files/1/0610/4583/3977/files/Group_804.png?v=1637108537" alt="patch green">
                    <h3 class="imgsubtext">
                       Watch How to Restore Patch Work
                    </h3>
                </div>
            </div>
        </section>
        <section class="faq" id="faq">
            <h3 class="faq--title">
                Frequently Asked Questions
            </h3>
                <div class="faq__container">
                    <button class="accordion">What's in the Patch</button>
                    <div class="panel">
                        <p>Restore Patches are programmed, like a compact disc or record, with unique,
                            specific information and frequencies that deliver healing and support to the
                            body. They are drug-free, chemical-free, non-transdermal, odor-free, and safe
                            for all ages.
                        </p>
                    </div>
                    <button class="accordion">How does it start working?</button>
                    <div class="panel">
                        <p>Restore Patches are designed for specific issues, such as helping with Sleep, Anxiety,
                         Migraines, & Tinnitus, as well as support with Energy, Focus, and Concentration. Once 
                         applied to the skin in the designated area, our body's own electric field activates the 
                         patch and begins sending the information to our bodies. Patches last 1-3 days depending 
                         on specific patch (see specific patch for more details). Based on instructions, simply 
                         attach a patch and let it work. Patches can then be removed, thrown away, and a new one 
                         applied. 
                        </p>
                    </div>
                    <button class="accordion">How many Patches come in a box?</button>
                    <div class="panel">
                        <p>   Depending on the specific patch, they range from a 10-30 day supply. 
                        </p>
                    </div>
                    <button class="accordion">Do you have a subscription?</button>
                    <div class="panel">
                        <p>   Yes! We've taken the hassle of having to order each month and provided a 
                        HUGE savings for those in our "Subscription Club". Click here for details.
                        </p>
                    </div>
                    <button class="accordion">Do they really work and is there a guarantee?</button>
                    <div class="panel">
                        <p>Oh, do they! We are so confident that our patches will help you, the first week is
                            on us! That's right, simply pay for shipping and we will send you a week's worth
                            on us. NO ONE is that confident in their product and we want you to be
                            completely satisfied with Restore Patch. NO RISK, NO OBLIGATION... Simply try
                            them on us and see if they work for you!
                        </p>
                    </div>
                </div>
            <h3 class="faq--subtitle">
                We Are Always Here to Help
            </h3>
            <div class="faq--footer">
                If you have any questions, don't hesitate to call us at <a href="tel:+18886113311">(888)611-3311.</a>
                <br/>
                <br/>
                <br/>
                You may also email us at <a href = "mailto:support@restorepatch.com">support@restorepatch.com</a>
            </div>
        </section>
        <section class="testimonial" id="testimonial">
            <h2 class="testimonial--title">
                Our Satisfied Customers
            </h2>
            <div class="testimonial--happystarcustomer flexcol">
                <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                <h4>5400 Happy Patchers</h4>
            </div>
            <div class="testimonial__container my-slider flex">
                <div class="testimonial__container--item flexcol">
                    <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime placeat odio, voluptatibus, quos porro consequatur id nam omnis dolores nostrum voluptas ipsam sit laboriosam vel soluta, dolorum earum eveniet!
                    </p>
                    <p class="name">
                        Robert B.
                    </p>
                </div>
                <div class="testimonial__container--item flexcol">
                    <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime placeat odio, voluptatibus, quos porro consequatur id nam omnis dolores nostrum voluptas ipsam sit laboriosam vel soluta, dolorum earum eveniet!
                    </p>
                    <p class="name">
                        Robert B.
                    </p>
                </div>
                <div class="testimonial__container--item flexcol">
                    <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime placeat odio, voluptatibus, quos porro consequatur id nam omnis dolores nostrum voluptas ipsam sit laboriosam vel soluta, dolorum earum eveniet!
                    </p>
                    <p class="name">
                        Robert B.
                    </p>
                </div>
                <div class="testimonial__container--item flexcol">
                    <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime placeat odio, voluptatibus, quos porro consequatur id nam omnis dolores nostrum voluptas ipsam sit laboriosam vel soluta, dolorum earum eveniet!
                    </p>
                    <p class="name">
                        Robert B.
                    </p>
                </div>
                <div class="testimonial__container--item flexcol">
                    <img src="https://cdn.shopify.com/s/files/1/2625/2982/files/Group_799.svg?v=1637109366" class="stars" alt="stars">
                    <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae maxime placeat odio, voluptatibus, quos porro consequatur id nam omnis dolores nostrum voluptas ipsam sit laboriosam vel soluta, dolorum earum eveniet!
                    </p>
                    <p class="name">
                        Robert B.
                    </p>
                </div>
            </div>
        </section>

