.faq{
    background-color: #eee;
    padding-bottom:8rem;
    &--title{
        text-align: center;
        font-family: 'MetroBold',sans-serif;
        font-weight: 700;
        font-size: 3.5rem;
        margin-top: 5rem;
        padding: 5rem 0 3rem;
    }
    &__container{
        max-width: 1000px;
        margin: 0 auto;
        .accordion {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.5rem;
            transition: 0.4s;
            font-weight: 600;
            &::before{
                content: '';
                background-image: url(/assets/img/Addition-01.svg);
                float: left;
                padding-right: 15px;
                height: 43px;
                width: 43px;
                background-repeat: no-repeat;
            }

          }
          .active::before {
            content: "";
            background-image: url(/assets/img/Substraction.svg);
            height: 43px;
            width: 43px;
            background-repeat: no-repeat;
          }
          
          .panel {
            padding: 0 5rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            p{
                font-size: 1.25rem;
                line-height: 1.5;
            }
          }
    }
    &--subtitle{
      text-align: center;
      font-family: 'MetroBold',sans-serif;
      font-weight: 700;
      font-size: 3rem;
      padding: 5rem 0 3rem;
    }
    &--footer{
      text-align: center;
      font-size: 1.25rem;
    }

}